* {
  margin: 0;
  padding: 0;
  content: border-box;
  list-style-type: none;
}
.header {
  display: flex;
  background-color: #1f2937;
}

.header {
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: white; 
  margin: auto;
}

.nav li {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  
}


.box-2 {
 display: flex;
}
.box-2 {
  background:#1f2937;
  height: 260px;
  
}

.gray-box {
  background: gray;
  height: 140px;
  width: 340px;
  margin: auto 850px;
  position: absolute;
  display: flex;
  bottom: 64%;

}

.gray-box-text {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 60px;
  
}

.awesome {
  display: flex;
  justify-content:center;
  align-items: bottom;
  margin: auto 353px;
  position:absolute;
  bottom: 70%;
}
.awesome {
  color: white;
  height: 90px;
  width: 250px;
  font-weight: 900px;
  font-size: 24px;
  
}

.awesome-text {
  position:absolute;
  margin: auto 364px;
  color: white;
  height:55px;
  width:35%;
  bottom: 60%;

}

.sign-up {
  display: flex;
  position: absolute;
  margin:auto 365px;
  bottom: 65%;
  width: 8%;
  height: 4%;
  bottom: 56%;
  background-color:blue;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
}

.box-3 {
  display: flex;
}
.box-3 {
  background: white;
  border: 2px solid black;
  height: 300px;
  align-items: top;
  justify-content: center;
}

.random {
  font-weight: 700;
  font-size: 28px;
  display: flex;
    
}

#small-boxes div {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 4px solid black;
  justify-content: center;
  align-items: center;

}
 

.box-4 {
display: flex;
}

.box-4 {
  background:grey;
  border: 2px solid black;
  height: 300px;
}

.box-5 {
  display: flex;
}

.box-5 {
  background: white;
  border: 2px solid black;
  height: 300px;
}

.footer {
  display: flex;
}
.footer {
  background:#1f2937;
  border: 2px solid black;
  height: 100px;
}